body {
    text-align: center;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

#title {
    color: #ff0000;
    font-size: 150px;
    //text-shadow: -.5px -.5px 0 white, .5px -.5px 0 white, -.5px .5px 0 white, .5px .5px 0 white;
}

.header {
    background-image: url("../images/betterQuality.jpg");
    height: 500px;
    display: flex;
    flex: 1 1 1000px;
    background-size: cover;
    background-position: 20% 80%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 500px;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    width: 100%;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: white;
            color: black;
        }

ourproject {
    color: white;
    font-size: 85px;
}

img {
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ff0000;
}

.container:hover .overlay {
    opacity: .8;
}

.container {
    position: relative;
    width: 50%;
    margin: auto;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.teamMembers {
    margin: 100px 200px;
}

h1 {
    margin: 100px 200px;
    font-size: 85px;
}

h2 {
    font-size: 42px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    margin-top: 100px;
}

    .flex-container > div {
        background-color: white;
        width: 300px;
        margin: 10px;
        text-align: center;
        line-height: 26px;
        font-size: 20px;
    }

.members {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    color: red;
    text-align: left;
}

hr {
    padding-left: 100px;
    padding-right: 100px;
    border: 2px solid gray;
}
